table.series_table  {
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
}

table.series_table td {
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* You can also use 'white-space: normal;' if needed */
}