@charset "utf-8";

// This file must have ".module.scss" as the suffix as per:
// https://vitejs.dev/guide/features.html#css-modules

// FontAwesome
$fa-font-path: '/static/raik_history_web/vendor/fontawesome-free/webfonts';

// B612 Font
//noinspection CssUnknownTarget
@import url("https://fonts.googleapis.com/css?family=B612");
$family-b612: "B612", sans-serif;


// Bulma (see colour_calculations.py)
$scheme-main: #d9d0b4;

$background: #cdbba7;  // This has a different meaning:  it mends blend in to the background in raik_dashboard.
$background-darker: #b9a793;

//$background: #b9a793;  // This has a different meaning:  it mends blend in to the background in raik_dashboard.
//$background-darker: #a18f7b;

$primary: #4c3a26;
$info:  #52caff;
$success:  #54d3a2;
$warning:  #cb4b00;
$danger:  #810000;
$error:  $danger;

$tablet: 400px;

$tile-spacing: 0px;
$dashboard-border-width: 2px;
$dashboard-border-half-width: 1px;
$family-primary: $family-b612;

// Other Variables

$transparent: rgba(0, 0, 0, 0);

// Export Variables


:export {
  scheme-main: $scheme-main;
  background: $background;
  background-darker: $background-darker;
  primary: $primary;
  info: $info;
  success: $success;
  warning: $warning;
  danger: $danger;
  error: $error;
  transparent: $transparent;
}


// Bulma Tile Spacing Changes for raik_dashboard
.tile.is-vertical>.dashboard-grid.tile.is-child:not(:last-child) {
  margin-bottom: 0!important;
}

/* Custom Styles */

