<script lang="ts">
    import {EventDetails} from "../../openapi";
    import {getUrlSearchArrayParam, updateSearchParams} from "../../common";
    import {isEqual} from "lodash";

    export let row: EventDetails;
    // noinspection JSUnusedGlobalSymbols
    export let col;
    export let selectedProcessedColumnsStore;

    let columnSelected = {};
    let columns = [];
    // noinspection JSUnusedAssignment
    let lastRow: EventDetails | null = row;

    function getQsKey (_row): string {
        return `pc_${_row.type.event_type_id}`;
    }


    // Init control:  Note the control seems to be reused by different
    // rows by the calling component.

    // noinspection JSUnusedAssignment
    if ( row.processed_columns ?? false ) {
        // noinspection JSUnusedAssignment
        const initSelections = getUrlSearchArrayParam(getQsKey(row));
        columns = row?.processed_columns?.map(s => {
            columnSelected[s.name] = initSelections.indexOf(s.name) >= 0;
            return s.name;
        }) || [];
    }

    function updateColumnsSelection() {
        selectedProcessedColumnsStore.update(() => {
            const newColValue = createReturnValueFromSelectedColumns(columnSelected);
            console.log("Updating selectedProcessedColumnsStore", columnSelected, newColValue);
            updateSearchParams(getQsKey(row), newColValue.map(conf => conf.name));
            return newColValue
        });
    }

    $: {
        // noinspection JSUnusedAssignment
        if (!isEqual(lastRow, row)){
            // The row has changed, reconfigure
            columnSelected = [];

            // Clear any params from the old row (lastRow)
            // noinspection JSUnusedAssignment
            if (lastRow !== null) updateSearchParams(getQsKey(lastRow), null);

            // Update Columns
            columns = row?.processed_columns?.map(s => s.name) || [];
        }

        // Update the column selection value and query parameters when column selection changes.
        // noinspection JSUnusedAssignment
        updateColumnsSelection();

        // noinspection JSUnusedAssignment
        lastRow = row;
    }

    /**
     * Takes a dictionary of True/False values and returns a list of the
     * selected values.
     */
    const createReturnValueFromSelectedColumns = (obj: { [key: string]: boolean }): object[] => {
        // noinspection TypeScriptValidateTypes,UnnecessaryLocalVariableJS
        const trueProperties: string[] = Object.entries(obj)
            .filter(([_, value]) => value === true)
            .map(([key]) => key);
        return row.processed_columns
            ?.filter(conf => trueProperties.indexOf(conf.name) >= 0) || [];
    };


    function setColumn(colName: string, value: boolean) {
        columnSelected[colName] = value;
        // Update the selected columns store (for the parent control) and the querystring
        updateColumnsSelection();
    }
</script>

{#each columns as colName }
    <p><label class="checkbox">
        <!--suppress HtmlWrongAttributeValue -->
        <input type="checkbox" checked={columnSelected[colName]} on:change={(e) => (setColumn(colName, e.target.checked))}/>
        {colName}
    </label></p>
{/each}
