<script lang="ts">
    import {
        EventInterface,
        EventInterfaceFromJSON,
        EventApi,
        Configuration,
    } from "../../openapi";

    export let row: EventInterface = EventInterfaceFromJSON({});

    let isEditing: boolean = false;
    let isSaving: boolean = false;
    let hasChanged: boolean;
    let commentValue: string = row.comments || "";

    function clickCell() {
        isEditing = true;
    }

    function clickCancel() {
        isEditing = false;
        commentValue = row.comments || "";
    }

    const configuration = new Configuration({
        basePath: window.location.origin,
    });
    const eventApi = new EventApi(configuration);

    async function clickSave() {
        isSaving = true;
        const saveData = {
        EventUpdate: {
            event_type_id: row.event_type_id,
            start_ts: row.start_ts,
            comments: commentValue
        }}
        console.log("Click Save", row, saveData);
        const data = (await eventApi.postRawEventApiEventRawPost(saveData));
        console.log("Save returned", data);
        row=data;
        isSaving=false;
        clickCancel();
    }

    $: hasChanged = commentValue !== (row.comments || "");

</script>


{#if !isEditing}
    <div on:click={clickCell}>
        {row.comments}
    </div>
{:else}
    <div class="field has-addons">
        <div class="control is-expanded">
            <!--suppress HtmlWrongAttributeValue -->
            <input class="input" type="text" bind:value={commentValue} disabled={isSaving}>
        </div>
        <div class="control">
            <!--suppress HtmlWrongAttributeValue -->
            <button class="button is-primary" disabled={!hasChanged || isSaving} on:click={clickSave}>
                 <span class="icon is-small">
                    <i class="fas fa-save"></i>
                </span>
            </button>
        </div>
        <div class="control">
            <!--suppress HtmlWrongAttributeValue -->
            <button class="button is-danger" on:click={clickCancel} disabled={isSaving}>
                <span class="icon is-small">
                    <i class="fas fa-times"></i>
                </span>
            </button>
        </div>
    </div>
{/if}