<script lang="ts">
    import SvelteTable from "svelte-table/src/SvelteTable.svelte";
    import {onMount} from 'svelte';
    import {Configuration, EventApi, EventType} from "../../openapi";
    import { updateSearchParams, getUrlSearchArrayParam} from "../../common";
    import {isEqual} from "lodash";

    export let multiSelect = false;
    export let value: number | null = null;
    let selected: number[] = [];
    let lastUrlValue: string[] = [];
    let eventTypes: EventType[] = [];

    // noinspection JSIncompatibleTypesComparison
    if (value === undefined || value === null ){
        const urlValues = getUrlSearchArrayParam("eventType").map(v => Number(v));
        if ( urlValues.length > 0) value = urlValues[0]
        else value = null;
    }

    const configuration = new Configuration({
        basePath: window.location.origin,
    });
    const eventApi = new EventApi(configuration);

    onMount(async () => {
        eventTypes = (await eventApi.getEventTypesApiEventTypesGet()).data;
    });

    const columns = [
        {
            key: "event_type_id",
            title: "Id",
            value: v => v.event_type_id,
            sortable: true,
        },{
            key: "name",
            title: "Name",
            value: v => v.name,
            sortable: true,
        },
    ]

    $: {
        const currentUrlValue = selected.map(v => String(v));
        if ( !isEqual(currentUrlValue, lastUrlValue)){
            updateSearchParams("eventType", currentUrlValue);
            lastUrlValue = currentUrlValue;
            if ( selected.length > 0 ) value = selected[0];
        } else if (value !== null ) selected = [value];
    }

</script>

<!--  Docs:  https://github.com/dasDaniel/svelte-table  -->
<SvelteTable
        bind:selected={selected}
        columns="{columns}"
        rows="{eventTypes}"
        selectOnClick="{true}"
        selectSingle="{!multiSelect}"
        rowKey="event_type_id"
        classNameTable="table is-striped is-narrow is-hoverable"
        classNameRowSelected="is-selected"
></SvelteTable>