<script lang="ts">
    import SvelteTable from "svelte-table/src/SvelteTable.svelte";
    import {onMount} from 'svelte';

    import {Configuration, EventApi, EventDetails} from "../../openapi";
    import EventTypeColumnSelection from "./EventTypeColumnSelection.svelte";

    export let event: number = 0;
    export let selectedProcessedColumnsStore;
    let eventDetails: EventDetails[] = [];
    let columns = [];
    let lastEvent: number = 0;

    const configuration = new Configuration({
        basePath: window.location.origin,
    });

    const eventApi = new EventApi(configuration);

    async function updateEvents(_event: number) {
        if (_event == lastEvent) {
            console.log("Skip events update");
            return;
        }
        lastEvent = _event;

        // This two lines are old code from when the intention was to support multiple
        // columns.  It could be refactored....
        const retPromises = [_event].map(eventTypeId => (eventApi.getEventTypeDetailsApiEventTypesEventTypeIdGet({
            event_type_id: eventTypeId,
        })))
        eventDetails = await Promise.all(retPromises);

        // noinspection JSUnusedAssignment
        columns = [
            {
                key: "event_type_id",
                title: "Id",
                value: v => v.type.event_type_id,
            },{
                key: "name",
                title: "Name",
                value: v => v.type.name,
            },{
                key: "description",
                title: "Description",
                value: v => v.type.description,
            },{
                key: "time_type",
                title: "Time Type",
                value: v => v.type.time_type,
            },{
                key: "time_stamp_type",
                title: "Timestamp Type",
                value: v => v.type.time_stamp_type,
            },{
                key: "processingClass",
                title: "Class",
                value: v => v.processing_class,
            },{
                key: "processedColumns",
                title: "Columns",
                value: v => v.processed_columns.name,
                renderComponent: {
                    component: EventTypeColumnSelection,
                    props: {
                        selectedProcessedColumnsStore: selectedProcessedColumnsStore
                    }
                }
            },
        ]
    }

    onMount(async () => await updateEvents(event));

    $: if (event > 0) {
        // For whatever reason, just calling await at the script level
        // will cause events to always react to an update on each cycle.
        updateEvents(event);
    }

</script>

<!--  Docs:  https://github.com/dasDaniel/svelte-table  -->
<SvelteTable
        columns="{columns}"
        rows="{eventDetails}"
        rowKey="name"
        classNameTable="table is-narrow"
></SvelteTable>