<script lang="ts">
    import { onDestroy } from 'svelte';
    import { Link } from "svelte-routing";
    import { useLocation } from "svelte-routing/src/contexts";

    export let to="";
    let isActive = false;
    const unsubscribe = useLocation().subscribe( (v) => {
        isActive = v.pathname === to;
        // console.log("Link Location Update ", isActive, v);
    })

    onDestroy(unsubscribe);

</script>

<li class:is-active={isActive}><Link {to}>
    <slot/>
</Link></li>