<script lang="ts">
    import SvelteTable from "svelte-table/src/SvelteTable.svelte";
    import {onMount} from 'svelte';
    import {Configuration, SeriesApi, SeriesInterface} from "../../openapi";
    import { updateSearchParams, getUrlSearchArrayParam} from "../../common";

    export let multiSelect = false;
    export let value: string[] = [];
    export let typeFilter: string[] = [];
    let series: SeriesInterface[] = [];
    let displaySeries: SeriesInterface[];
    let displayFilter = "";

    // noinspection JSIncompatibleTypesComparison
    if (value === undefined || value === null || value.length === 0){
        value = getUrlSearchArrayParam("series");
    }

    const configuration = new Configuration({
        basePath: window.location.origin,
    });
    const seriesApi = new SeriesApi(configuration);

    onMount(async () => {
        const data = (await seriesApi.listSeriesApiSeriesGet()).data;
        if (typeFilter.length === 0){
            series = data;
        } else {
            series = data.filter(s => typeFilter.indexOf(s.data_type) >= 0)
        }
    });

    const columns = [
        {
            key: "name",
            title: "Name",
            value: v => v.name,
            sortable: true,
        },{
            key: "dataType",
            title: "Data Type",
            value: v => v.data_type,
            sortable: true,
        },
    ]

    $: {
        // Trigger reaction to a change in value
        value = value;
        updateSearchParams("series", value);
    }

    $: displaySeries = series.filter(item => displayFilter === "" ? true : item.name.toLowerCase().includes(displayFilter));

</script>

<h2 class="subtitle">Series</h2>
<div class="series_table-container">

{#if series.length > 5}
    <input class="input" type="text" placeholder="Filter" value={displayFilter} on:input={(e) => (displayFilter = e.target.value.toLowerCase())}>
{/if}

<!--  Docs:  https://github.com/dasDaniel/svelte-table  -->
<SvelteTable
        bind:selected={value}
        columns="{columns}"
        rows="{displaySeries}"
        selectOnClick="{true}"
        selectSingle="{!multiSelect}"
        rowKey="name"
        classNameTable="series_table table is-striped is-narrow is-hoverable"
        classNameRowSelected="is-selected"
></SvelteTable>

</div>

<style>
/* See globals for table styling, as styling of subcomponents can not be applied here */

.series_table-container {
    max-height: 30em;
    overflow-y: auto;
}
</style>
