<script lang="ts">
    export let value: Date = new Date();
    let timeValue = `${String(value.getHours()).padStart(2, "0")}:${String(value.getMinutes()).padStart(2, "0")}`;
    let isInit = true;
    // console.log("Initial Time Value ", timeValue);

    function updateTime() {
        const [hoursStr, minutesStr] = timeValue.split(":");
        const newTime = new Date(value.getTime());
        newTime.setHours(Number(hoursStr), Number(minutesStr));
        // console.log("Old Time and New Time: ", value, newTime);
        value = newTime;
    }

    $: {
        timeValue = timeValue;  // Trigger an update on timeValue change.
        if ( !isInit ) updateTime();
    }

    isInit = false;
</script>

<input class="input" bind:value={timeValue} type="time"/>