<!--suppress SpellCheckingInspection -->
<script lang="ts">
    import {navigate} from "svelte-routing";
    import {DatePicker} from 'date-picker-svelte'
    import {timeRangeSelectorUrl, msToLocaleShortDateTimeString} from "../../common";
    import TimePickerPart from "./TimePickerPart.svelte";
    // import SveltyPicker from 'svelty-picker'
    // import {en} from "svelty-picker/i18n";

    export let pathPrefix = "";
    // NOTE:  These two values are bound to upper controls
    export let startTime = (new Date()).getTime();
    export let endTime = startTime;
    export let horizontal = false;

    // These are used for binding to the controls
    let startDate: Date, endDate: Date, lastStart: Date, lastEnd: Date;


    /*
    This function introduces a Bug as the same calculation is performed
    independently by the back end.  At the moment it only results in the time
    selector being slightly out of sync with the back end response.
     */
    function setControlValues(
        startTimeMs: number,
        endTimeMs: number
    ){
        const now = (new Date()).getTime();

        if (startTimeMs < 0) {
            startTimeMs = now + startTimeMs;
        }

        if (endTimeMs < 0) {
            endTimeMs = now + endTimeMs;
        }

        startDate = new Date(startTimeMs);
        endDate = new Date(endTimeMs);
        lastStart = startDate;
        lastEnd = endDate;
    }
    // Init
    setControlValues(startTime, endTime);

    function updateUrl() {
        console.log("Update Running", pathPrefix, startTime, endTime);
        const newUrl = timeRangeSelectorUrl(pathPrefix, startTime, endTime, true);
        navigate(newUrl, {replace: true});
        console.log("/Update Running", pathPrefix, startTime, endTime);
    }

    function last24h() {
        console.log("last 24h");
        startTime = -24*3600*1000;
        endTime = -1;
        updateUrl();
        setControlValues(startTime, endTime);
        console.log("/last 24h");
    }

    function lastWeek() {
        console.log("last week");
        startTime = -7*24*3600*1000;
        endTime = -1;
        updateUrl();
        setControlValues(startTime, endTime);
        console.log("/last week");
    }

    // const unsubStart = startDate.subscribe(updateUrl);
    // onDestroy(unsubStart);
    // const unsubEnd = endDate.subscribe(updateUrl);
    // onDestroy(unsubEnd);

    /*const pickerFormat="yyyy-mm-ddThh:ii:ss";
    function updateStartDate(e) {
        console.log("New Start Date ", e);
        // $startDate = new Date(e.detail);
    }
    function updateEndDate(e) {
        console.log("New End Date ", e);
        // $endDate = new Date(e.detail);
    }*/

    function updateStart(e){
        console.log("UpdateStart", e);
    }

    $: {
        // Relative dates need special handling
        // noinspection JSUnusedAssignment
        if (
            lastStart != startDate || lastEnd != endDate ||
            (startTime >= 0 && startTime !== startDate.getTime()) || (endTime >=0 && endTime !== endDate.getTime())
        ) {
            console.log("React", startTime, endTime);
            startTime = startDate.getTime();
            endTime = endDate.getTime();
            lastStart = startDate;
            lastEnd = endDate;
            updateUrl();
        }
    }

</script>

<div class:columns={horizontal}>
    <div class:column={horizontal} class:is-narrow={horizontal}>
        <h2 class="subtitle">Start</h2>
        <!--<SveltyPicker clearBtn={false} bind:initialDate={$startDate} format={pickerFormat} pickerOnly={true} endDate={$endDate} on:change={updateStartDate}/>-->
        <DatePicker bind:value={startDate} max={endDate}/>
        <TimePickerPart bind:value={startDate}/>
        <p>{msToLocaleShortDateTimeString(startDate.getTime())}</p>
    </div>
    <div class:column={horizontal} class:is-narrow={horizontal}>
        <h2 class="subtitle">End</h2>
        <DatePicker bind:value={endDate} min={startDate}/>
        <TimePickerPart bind:value={endDate}/>
        <!--<SveltyPicker clearBtn={false} bind:initialDate={$endDate} format={pickerFormat} pickerOnly={true} startDate={$startDate} on:change={updateEndDate}/>-->
        <p>{msToLocaleShortDateTimeString(endDate.getTime())}</p>
    </div>
</div>

<button class="button is-primary" on:click={last24h}>Last 24h</button>
<button class="button is-danger" on:click={lastWeek}>Last Week</button>
