<script lang="ts">
  import {afterUpdate} from 'svelte';
  import { Router, Route } from "svelte-routing";
  import LiLink from "./components/LiLink.svelte";
  import {
    sleep,
    VALUES_PATH,
    RAW_PATH,
    TREND_PATH,
    EVENTS_PATH,
    RAW_BASE_PATH,
    BASE_TREND_PATH,
          BASE_EVENTS_PATH,
    timeRangeSelectorUrl, ONE_DAY
  } from "../common";
  import CurrentValue from "./CurrentValue.svelte";
  import RawValues from "./RawValues.svelte";
  import Trend from "./Trend.svelte";
  import Events from "./Events.svelte";

  let initPreload = true;

  afterUpdate(async () => {
    await sleep(0.5);
    initPreload = false;
  });

  const initEndTime = (new Date()).getTime();
  const initStartTime = initEndTime - ONE_DAY;

</script>

<Router>
<div class="tabs">
  <ul>
  <LiLink to={VALUES_PATH}>Current Values</LiLink>
  <LiLink to={timeRangeSelectorUrl(RAW_BASE_PATH, initStartTime, initEndTime)}>Raw Data</LiLink>
  <LiLink to={timeRangeSelectorUrl(BASE_TREND_PATH, initStartTime, initEndTime)}>Trend</LiLink>
  <LiLink to={timeRangeSelectorUrl(BASE_EVENTS_PATH, initStartTime, initEndTime)}>Events</LiLink>
  </ul>
</div>
<div class="section">

<Route path={VALUES_PATH}>
  <CurrentValue/>
</Route>

<Route path={RAW_PATH} let:params>
  <RawValues startTime={Number(params.startTime)} endTime={Number(params.endTime)}/>
</Route>

<Route path={TREND_PATH} let:params>
  <Trend startTime={Number(params.startTime)} endTime={Number(params.endTime)}/>
</Route>

<Route path={EVENTS_PATH} let:params>
  <Events startTime={Number(params.startTime)} endTime={Number(params.endTime)}/>
</Route>

</div>
</Router>

{#if initPreload }
<!-- This is a dirty hack to ensure key resources are not dynamically loaded -->
<!--  This exists to preload certain files in case of server connection loss -->
<div class="has-text-background">
  <i class="far fa-envelope"></i>
  <i class="fas fa-triangle-exclamation"></i>
  <i class="fas fa-plug-circle-exclamation"></i>
</div>
{/if}