<script lang="ts">
    import SvelteTable from "svelte-table/src/SvelteTable.svelte";
    import SeriesSelection from "./components/SeriesSelection.svelte";

    import {
        Configuration,
        DataValue,
        GetLatestValueForSeriesApiValueGetRequest,
        ValueApi
    } from "../openapi";
    import {msToLocaleShortDateTimeString} from "../common";

    let values: DataValue[] = []
    let series: string[] = []

    const configuration = new Configuration({
        basePath: window.location.origin,
    });
    const valuesApi = new ValueApi(configuration);

    $: {
        if (series.length > 0) {
            const request: GetLatestValueForSeriesApiValueGetRequest = {
                name: series
            }
            valuesApi.getLatestValueForSeriesApiValueGet(request).then((ret) => {
                // console.log("ret ", ret);
                values = ret.data;
            }).catch((r) => {
                console.log("Error : ", r)
                values = [];
            })
        } else {
            values = [];
        }
    }

    // define column configs
    const columns = [
        {
            key: "name",
            title: "Series",
            value: v => v.series_name,
            sortable: true,
        },
        {
            key: "time",
            title: "Time",
            value: v => msToLocaleShortDateTimeString(v.data[0]),
            sortable: true,
        },
        {
            key: "value",
            title: "Value",
            value: v => v.data[1],
        },
        {
            key: "quality",
            title: "Quality",
            value: v => v.data[2],
            sortable: true,
        },
    ];

</script>

<div class="columns">
    <div class="column is-full-tablet is-one-third-desktop is-one-fifth-fullhd">
        <SeriesSelection multiSelect={true} bind:value={series}/>
    </div>
    <div class="column">
        {#if values.length === 0}
            <p>Select series to display the values for (or check console for errors).</p>
        {:else }
            <SvelteTable columns="{columns}" rows="{values}"></SvelteTable>
        {/if}
    </div>
</div>
