<script lang="ts">
    import {isEqual} from "lodash";
    import SvelteTable from "svelte-table/src/SvelteTable.svelte";
    import SeriesSelection from "./components/SeriesSelection.svelte";

    import {
        Configuration,
        DataValue,
        GetRawValuesApiRawNameStartTimeMsEndTimeMsGetRequest,
        RawApi
    } from "../openapi";
    import {msToLocaleShortDateTimeString, RAW_BASE_PATH} from "../common";
    import TimeRangeSelector from "./components/TimeRangeSelector.svelte";

    export let startTime = (new Date()).getTime();
    export let endTime = startTime;

    let rawValues: DataValue[] = [];
    let rawSeries: string = "";
    let series: string[] = [];

    const configuration = new Configuration({
        basePath: window.location.origin,
    });
    const rawApi = new RawApi(configuration);
    let lastRequest = null;

    function resetValues() {
        rawValues = [];
        rawSeries = "";
    }

    // define column configs
    const columns = [
        {
            key: "time",
            title: "Time",
            value: v => msToLocaleShortDateTimeString(v[0]),
            sortable: true,
        },
        {
            key: "value",
            title: "Value",
            value: v => v[1],
        },
        {
            key: "quality",
            title: "Quality",
            value: v => v[2],
            sortable: true,
        },
    ];

    $: {
        if (series.length === 0 || startTime === endTime) {
            resetValues();
        } else {
            const request: GetRawValuesApiRawNameStartTimeMsEndTimeMsGetRequest = {
                name: series[0],
                start_time_ms: startTime,
                end_time_ms: endTime,
            };

            const requestIsNew = !isEqual(lastRequest, request);

            if (requestIsNew) {
                rawApi.getRawValuesApiRawNameStartTimeMsEndTimeMsGet(request).then((ret) => {
                    // console.log("ret ", ret);
                    // noinspection TypeScriptValidateTypes
                    rawValues = ret.data;
                    rawSeries = ret.series_name;
                }).catch((r) => {
                    console.log("Error : ", r)
                    resetValues();
                });
            }
            else {
                console.log("Skipping request as it is the same as the last one", request);
            }

            lastRequest = request;
        }
    }
</script>

<div class="columns">
    <div class="column is-full-tablet is-one-third-desktop is-one-fifth-fullhd">
        <SeriesSelection multiSelect={false} bind:value={series}/>
        <TimeRangeSelector pathPrefix={RAW_BASE_PATH} bind:startTime={startTime} bind:endTime={endTime}/>
    </div>
    <div class="column">
        {#if series.length === 0}
            <p>Select series to query.</p>
        {:else if rawValues.length === 0 }
            <p>No data was returned by the query.  Check the dev console for more info.</p>
        {:else }
            <h2 class="title">{rawSeries}</h2>
            <SvelteTable columns="{columns}" rows="{rawValues}"></SvelteTable>
        {/if}
    </div>
</div>
