<script lang="ts">
    import {isEqual} from "lodash";
    import {
        Configuration,
        GetRawValuesApiRawNameStartTimeMsEndTimeMsGetRequest,
        RawApi
    } from "../openapi";
    import SeriesSelection from "./components/SeriesSelection.svelte";
    import TimeRangeSelector from "./components/TimeRangeSelector.svelte";
    import {BASE_TREND_PATH, msToLocaleShortDateTimeString} from "../common.js";

    import {Line} from 'svelte-chartjs'
    import {
        Chart as ChartJS,
        Title,
        Tooltip,
        Legend,
        LineElement,
        LinearScale,
        TimeScale,
        PointElement,
        CategoryScale
    } from 'chart.js';
    import 'chartjs-adapter-date-fns';

    ChartJS.register(Title, Tooltip, Legend, LineElement, LinearScale, TimeScale, PointElement, CategoryScale);

    export let startTime = (new Date()).getTime();
    export let endTime = startTime;

    let rawValues = [];
    let seriesName: string = "";
    let series: string[] = [];
    const trendTypes = ["INT", "REAL", "BOOL"];
    const configuration = new Configuration({
        basePath: window.location.origin,
    });
    const rawApi = new RawApi(configuration);
    let lastRequest = null;

    function resetValues() {
        rawValues = [];
        seriesName = "";
    }

    $: {
        if (series.length === 0 || startTime === endTime) {
            resetValues();
        } else {
            const request: GetRawValuesApiRawNameStartTimeMsEndTimeMsGetRequest = {
                name: series[0],
                start_time_ms: startTime,
                end_time_ms: endTime,
            };

            const requestIsNew = !isEqual(lastRequest, request);

            if (requestIsNew) {
                rawApi.getRawValuesApiRawNameStartTimeMsEndTimeMsGet(request).then((ret) => {
                    rawValues = ret.data.map(t => ({x: t[0], y: t[1]}));
                    seriesName = ret.series_name;
                }).catch((r) => {
                    console.log("Error : ", r)
                    resetValues();
                });
            } else {
                console.log("Skipping request as it is the same as the last one", request);
            }

            lastRequest = request;
        }
    }

    let dataLine;

    $: dataLine = {
        datasets: [
            {
                label: seriesName,
                backgroundColor: "rgba(225, 204,230, .3)",
                borderColor: "rgb(205, 130, 158)",
                data: rawValues
            },
        ]
    };

    const options = {
        // https://www.chartjs.org/docs/latest/axes/cartesian/time.html
        scales: {
            x: {
                type: 'time',
                time: {
                    unit: 'day', // Customize the time unit as needed (e.g., 'month', 'hour', etc.)
                },
                position: 'bottom'
            }
        },
        responsive: true
    }

    function recommendTimeRange(startTime: number, endTime: number): string {
        // Calculate the time range in milliseconds
        const timeRange = endTime - startTime;

        // Define the units and their maximum divisions
        const units: [string, number, number][] = [
            ['hour', 60 * 60 * 1000, 30],              // 1 hour, max 30 divisions
            ['day', 24 * 60 * 60 * 1000, 36],          // 1 day, max 36 divisions
            ['week', 7 * 24 * 60 * 60 * 1000, 40],     // 7 days, max 40 divisions
            ['month', 30 * 24 * 60 * 60 * 1000, 30],   // 30 days, max 30 divisions
            ['quarter', 90 * 24 * 60 * 60 * 1000, 24], // 90 days, max 24 divisions
        ];

        // Loop through the units and find the best fit
        for (const [unit, unitMs, maxDivisions] of units) {
            const divisions = timeRange / unitMs;
            // console.log("Testing tr", timeRange, divisions, unit);
            if (divisions <= maxDivisions) {
                return unit;
            }
        }

        // If no unit fits, default to 'quarter'
        return 'quarter';
    }

    $: options.scales.x.time.unit = rawValues.length > 0 ? recommendTimeRange(rawValues[0].x, rawValues[rawValues.length - 1].x) : "day";
    $: console.log("Options", options, rawValues);

</script>

<div class="columns">
    <div class="column is-full-tablet is-one-third-desktop is-one-fifth-fullhd">
        <SeriesSelection multiSelect={false} bind:value={series} typeFilter={trendTypes}/>
    </div>
    <div class="column">
        {#if series.length === 0}
            <p>Select series to query.</p>
        {:else if rawValues.length === 0 }
            <p>No data was returned by the query. Check the dev console for more info.</p>
        {:else }
            <Line data={dataLine} options={options}/>
            <div>
                <p>{rawValues.length} values returned
                    from {msToLocaleShortDateTimeString(rawValues[0].x)}
                    to {msToLocaleShortDateTimeString(rawValues[rawValues.length - 1].x)}</p>
            </div>
        {/if}
        <TimeRangeSelector horizontal={true} pathPrefix={BASE_TREND_PATH} bind:startTime={startTime}
                           bind:endTime={endTime}/>
    </div>
</div>
